<template>
    <div  class="container-fluid">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app',
        created() {
          // this.$store.dispatch('RESTORE_TOKEN_FROM_LOCALSTORE');
        }
    }
</script>

<style>
</style>
