@import "signin.css";



.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

.navbar {
    padding: 0.5em;
}

#nav-collapse {
    justify-content: space-between;
}

#nav-collapse form{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
