<template>

    <div>

            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="#">NavBar</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="#">Link</b-nav-item>
                        <b-nav-item href="#" disabled>Disabled</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                        </b-nav-form>

                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template #button-content>
                                <em>User</em>
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item @click="$store.dispatch('LOGOUT')">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>


        <div class="container">
            <b-table striped hover :items="items" :fields="columns">
                <template #table-colgroup="scope">
                    <col
                        v-for="field in scope.fields"
                        :key="field.key"
                        :style="{ width: field.key === 'Action' ? '200px' : 'auto' }"
                    >
                </template>

                <template #cell(Action)="row" :style="{ width: field.key === 'foo' ? '120px' : '180px' }">
                    {{activeInactiveStr(row.item.status)}}
                </template>

                <template #cell(Action)="row" :style="{ width: field.key === 'foo' ? '120px' : '180px' }">
                    <b-button size="sm" @click="editRow(row)" class="mr-2">
                        Edit
                    </b-button>
                    <b-button size="sm" @click="deleteRow(row)" class="mr-2">
                        Delete
                    </b-button>
                </template>
            </b-table>

            <b-modal ref="my-modal" hide-footer :title="modalTitle">
                <div class="d-block">
                    <b-form @submit.stop.prevent="save" class="form-signin1">

                        <b-form-group id="input-uuid" label="UUID" label-for="input-uuid">
                            <b-form-input
                                id="input-uuid"
                                name="input-uuid"
                                type="text"
                                :value="selected.uuid?selected.uuid:''"
                                aria-describedby="input-uuid-live-feedback"
                                data-vv-as="uuid"
                                readonly
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-uuid') }}</div>
                        </b-form-group>

                        <b-form-group id="input-name" label="Name" label-for="input-name">
                            <b-form-input
                                id="input-name"
                                name="input-name"
                                type="text"
                                v-model="selected.name"
                                v-validate="{ required: true, min: 3, max:255 }"
                                :state="validateState('input-name')"
                                aria-describedby="input-name-live-feedback"
                                data-vv-as="name"
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-name') }}</div>
                        </b-form-group>



                        <b-form-group id="input-code" label="code" label-for="input-code">
                            <b-form-input
                                id="input-code"
                                name="input-code"
                                type="text"
                                v-model="selected.code"
                                v-validate="{ required: true, min: 3, max:255}"
                                :state="validateState('input-code')"
                                aria-describedby="input-code-live-feedback"
                                data-vv-as="code"
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-code') }}</div>
                        </b-form-group>


                        <b-form-group id="input-status" label="Status" label-for="input-status">
                            <b-form-select
                                id="input-status"
                                class="form-control"
                                name="input-status"
                                v-model="selected.status"
                                v-validate="{ required: true}"
                                :options="{'':'Select Status', 1:'Active', 0:'Inactive'}"
                                :state="validateState('input-status')"
                                aria-describedby="input-status-live-feedback"
                                data-vv-as="status"
                            ></b-form-select>

                            <div class="text-danger">{{ errors.first('input-status') }}</div>
                        </b-form-group>

                        <div class="mt-3 text-decoration-none"></div>


                    </b-form>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <b-button class="btn mt-3 p-2" variant="outline-danger" block @click="hideModal">Close</b-button>
                    <b-button class="btn mt-3 p-2" variant="outline-success" block @click="save">Save</b-button>
                </div>
            </b-modal>

        </div>
    </div>
</template>

<script>

    import { ErrorBag } from 'vee-validate';
    const bag = new ErrorBag();

    export default {
      name: 'List',
        data() {
            return {
                columns: [
                    { key: 'id', label: 'ID' },
                    { key: 'uuid', label: 'UUID' },
                    { key: 'name', label: 'Name' },
                    { key: 'code', label: 'Code' },
                    { key: 'status', label: 'Status' },
                    { key: 'Action', label: 'Action' }
                ],
                items: [
                    { id: 40, uuid: 'Dickerson', name: 'Macdonald', code:'123456', description:'new description', status:1 }
                ],
                selected: {},

                message: "",
                variant: "success",
                dismissSecs: 500,
                dismissCountDown: 0
            }
        },

        mounted() {

        },

        methods: {
            editRow(row) {
                this.selected = row.item
                this.showModal()
            },
            deleteRow(row) {
                this.items = this.items.filter(v => v.id!=row.item.id)
            },
            showModal() {
                this.$refs['my-modal'].show()
            },
            hideModal() {
                this.$refs['my-modal'].hide()
            },

            activeInactiveStr(status) {
                return status==0? 'Inactive' : 'Active'
            },
            save() {

            },
            validateState(ref) {
                if (
                    this.errors[ref] &&
                    (this.errors[ref].dirty || this.errors[ref].validated)
                ) {
                    return !this.veeErrors.has(ref);
                }
                return null;
            },

        },
        computed: {
            modalTitle() {
                return this.selected != null ? "Edit - "+this.selected.uuid : "Add New Item"
            }
        }
    }
</script>

<style>
</style>
