<template id="modal">
    <div class="modal" style="display: block">
        <div class="modal-window">
            <p>Do you want to delete id: <strong>{{ modelValue.id }}</strong> ?</p>
            <div class="actions">
                <button class="cancel" @click="onCancel">Cancel</button>
                <button class="confirm" @click="onConfirm">Confirm Delete</button>
            </div>
        </div>
    </div>
</template>



<script>

    export default {
        name: 'ConfirmationModal',
        data() {
            return {

            }
        },
        props: ["modelValue"],
        methods: {
            onConfirm() {
                this.$emit("confirm", this.modelValue);
            },
            onCancel() {
                this.$emit("cancel");
            }
        }
    }
</script>

<style scoped>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .5);
    }

    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: .5s;
        width: 100%;
        min-width: 400px;
        max-width: 600px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        transform: translate(-50%, -50%);
        padding: 1em;
        color: black;
        text-align: center;
    }

    .modal-window .actions {
        display: flex;
        justify-content: flex-end;
    }

    .actions button {
        font-size: inherit;
        margin: 4px;
        border: none;
        padding: 6px 8px;
        cursor: pointer;
    }

    .actions .cancel {
        background: darkred;
        color: white;
    }

    .actions .confirm {
        background: darkcyan;
        color: white;
    }

    .appear-enter {
        opacity: 0;
    }

    .appear-enter .modal-window {
        transform: translate(-75%, -50%);
    }

    .appear-enter-active {
        transition: .5s;
    }

    .appear-leave-active .modal-window {
        transform: translate(0, -50%);
    }

    .appear-leave-active {
        opacity: 0;
        transition: .5s;
    }
</style>
