<template>

    <div>

        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">NavBar</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">Link</b-nav-item>
                    <b-nav-item href="#" disabled>Disabled</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form @submit.stop.prevent="fetchData">
                        <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="searchQuery"></b-form-input>
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                    </b-nav-form>

                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template #button-content>
                            <img v-if="avater" :src="avater" style="max-height: 50px; max-width: 50px; border-radius: 50%"/>
                            <em>{{username}} </em>
                        </template>
                        <b-dropdown-item href="#">Profile</b-dropdown-item>
                        <b-dropdown-item @click="$store.dispatch('LOGOUT')">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>


        <div class="container">
            <div class="flex-row">
                <b-btn type="button" class="btn-primary mt-3 "  @click="addNewRow">Add New</b-btn>
            </div>

            <div class="overflow-auto">

                <b-table
                    striped
                    hover
                    id="my-table"
                    :per-page="perPage"
                    :current-page="currentPage"
                     :items="items"
                    :fields="columns"
                >
                    <template #table-colgroup="scope">
                        <col
                            v-for="field in scope.fields"
                            :key="field.key"
                            :style="{ width: field.key === 'Action' ? '200px' : 'auto' }"
                        >
                    </template>

                    <template #cell(status)="row" :style="{ width: field.key === 'status' ? '120px' : '180px' }">
                        {{activeInactiveStr(row.item.status)}}
                    </template>

                    <template #cell(Action)="row" >
                        <b-button size="sm" @click="editRow(row)" class="mr-2">
                            Edit
                        </b-button>
                        <b-button size="sm" @click="confirmDelete(row)" class="mr-2">
                            Delete
                        </b-button>
                    </template>
                </b-table>



                <b-pagination
                    v-if="showPagination"
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                ></b-pagination>
                <div v-if="items.length==0" class="text-center mt-3">
                    <h4>No record found</h4>
                </div>
            </div>

            <b-modal ref="my-modal" hide-footer :title="modalTitle">
                <div class="d-block">
                    <b-form @submit.stop.prevent="save" class="form-signin1">

                        <b-form-group v-if="selected.uuid" id="input-uuid" label="UUID" label-for="input-uuid">
                            <b-form-input
                                id="input-uuid"
                                name="input-uuid"
                                type="text"
                                :value="selected.uuid?selected.uuid:''"
                                aria-describedby="input-uuid-live-feedback"
                                data-vv-as="uuid"
                                readonly
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-uuid') }}</div>
                        </b-form-group>

                        <b-form-group id="input-name" label="Name" label-for="input-name">
                            <b-form-input
                                id="input-name"
                                name="input-name"
                                type="text"
                                v-model="selected.name"
                                v-validate="{ required: true, min: 3, max:255 }"
                                :state="validateState('input-name')"
                                aria-describedby="input-name-live-feedback"
                                data-vv-as="name"
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-name') }}</div>
                        </b-form-group>



                        <b-form-group id="input-code" label="Code" label-for="input-code">
                            <b-form-input
                                id="input-code"
                                name="input-code"
                                type="text"
                                v-model="selected.code"
                                v-validate="{ required: true, max:255}"
                                :state="validateState('input-code')"
                                aria-describedby="input-code-live-feedback"
                                data-vv-as="code"
                            ></b-form-input>

                            <div class="text-danger">{{ errors.first('input-code') }}</div>
                        </b-form-group>

                        <b-form-group id="input-description" label="Description" label-for="input-description">
                            <b-form-textarea
                                id="input-description"
                                name="input-description"
                                v-model="selected.description"
                                v-validate="{ max:500 }"
                                :state="validateState('input-description')"
                                aria-describedby="input-description-live-feedback"
                                data-vv-as="description"
                            ></b-form-textarea>

                            <div class="text-danger">{{ errors.first('input-description') }}</div>
                        </b-form-group>


                        <b-form-group id="input-status" label="Status" label-for="input-status">
                            <b-form-select
                                id="input-status"
                                class="form-control"
                                name="input-status"
                                v-model="selected.status"
                                v-validate="{ required: true}"
                                :options="{1:'Active', 0:'Inactive'}"
                                :state="validateState('input-status')"
                                aria-describedby="input-status-live-feedback"
                                data-vv-as="status"
                            ></b-form-select>

                            <div class="text-danger">{{ errors.first('input-status') }}</div>
                        </b-form-group>

                        <div class="mt-3 text-decoration-none"></div>


                    </b-form>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <b-button class="btn mt-3 p-2" variant="outline-danger" block @click="hideModal">Close</b-button>
                    <b-button class="btn mt-3 p-2" variant="outline-success" block @click="save">Save</b-button>
                </div>
            </b-modal>

        </div>


        <transition name="appear">
            <ConfirmationModal :modelValue="selected" v-if='confirmModal' @confirm='deleteRow' @cancel="closeConfirmDelete"></ConfirmationModal>
        </transition>

    </div>
</template>

<script>

    import ConfirmationModal from "./ConfirmationModal";
    import { ErrorBag } from 'vee-validate';
    import Api from "../service/api";
    const bag = new ErrorBag();

    import {mapGetters} from 'vuex'


    export default {
        name: 'List',
        data() {
            return {
                perPage: 3,
                currentPage: 1,
                columns: [
                    { key: 'id', label: 'ID' },
                    { key: 'uuid', label: 'UUID' },
                    { key: 'name', label: 'Name' },
                    { key: 'code', label: 'Code' },
                    { key: 'description', label: 'Description' },
                    { key: 'status', label: 'Status' },
                    { key: 'Action', label: 'Action' }
                ],
                items: [

                ],
                confirmModal: false,
                selected: {},
                searchQuery: '',

                message: "",
                variant: "success",
                dismissSecs: 500,
                dismissCountDown: 0
            }
        },

        mounted() {
            this.searchQuery = this.$route.query.search||'';

            this.fetchData()
        },

        methods: {


            addNewRow() {
                this.selected = {};
                this.showModal()
            },
            editRow(row) {
                this.selected = Object.assign({}, row.item);
                this.showModal()
            },
            deleteRow(row) {
                let token = this.$store.state.token.access_token;
                Api().delete('/record/delete/'+row.id, {headers: {'Authorization': 'Bearer '+token}})
                    .then(
                        (response) => {
                            if(typeof response.status!='undefined' && response.status == 200 && typeof response.status!='undefined' ){
                                this.items = this.items.filter(v => v.id!=row.id)
                            }

                            this.closeConfirmDelete()
                        }
                    )


            },
            showModal() {
                this.$refs['my-modal'].show()
            },
            hideModal() {
                this.$refs['my-modal'].hide()
            },

            confirmDelete(row) {
                this.selected = row.item;
                this.confirmModal = true;
            },
            closeConfirmDelete() {
                this.selected = {};
                this.confirmModal = false;
            },

            activeInactiveStr(status) {
                return status==0? 'Inactive' : 'Active'
            },
            async save() {
                this.$validator.validateAll().then(result => {
                    if (!result) {
                        // return;
                    }
                    let token = this.$store.state.token.access_token;
                    let api = null;
                    if(typeof this.selected.id != 'undefined'){
                        api = Api().put('/record/edit/'+this.selected.id, this.selected, {headers: {'Authorization': 'Bearer '+token}})
                    } else {
                        api = Api().post('/record/add', this.selected, {headers: {'Authorization': 'Bearer '+token}});

                    }

                        api.then(
                            (response) => {
                                if(typeof response.status!='undefined' && response.status == 200 && typeof response.status!='undefined' ){
                                    if(this.selected.id){
                                        this.items = this.items.map(v => v.id==this.selected.id ? response.data : v)
                                    } else {
                                        this.items.unshift(response.data)
                                    }

                                    this.selected = {}
                                    this.hideModal()
                                }
                            }
                        )
                    .catch( (e) => {
                        reject(e.getMessage());
                    });
                });
            },

            fetchData() {
                let url = '/record/get'
                if(this.searchQuery.trim()!=''){
                    url = url + '?search='+this.searchQuery
                }

                let token = this.$store.state.token.access_token;
                Api().get(url, {headers: {'Authorization': 'Bearer '+token}})
                    .then(
                        (response) => {
                            if(typeof response.status!='undefined' && response.status == 200){
                                this.items = response.data

                                this.selected = {}
                                this.currentPage = 1
                            }
                        }
                    )
                    .catch( (e) => {
                        reject(e.getMessage());
                    });
            },
            validateState(ref) {
                if (
                    this.errors[ref] &&
                    (this.errors[ref].dirty || this.errors[ref].validated)
                ) {
                    return !this.veeErrors.has(ref);
                }
                return null;
            },

        },
        computed: {
            modalTitle() {
                return this.selected.uuid ? "Edit - "+ this.selected.name : "Add New Record"
            },

            rows() {
                return this.items.length
            },

            showPagination() {
                return this.items.length > this.perPage
            },

            ...mapGetters(['username', 'avater'])
        },
        components: {
            'ConfirmationModal' : ConfirmationModal
        }
    }
</script>

<style>
</style>
