<template>
    <div class="div-signin">
        <b-form @submit.stop.prevent="onSubmit" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <b-form-input
                id="input-email"
                name="input-email"
                type="email"
                v-model="form.email"
                v-validate="{ required: true, min: 3, email: true }"
                aria-describedby="input-email-live-feedback"
                data-vv-as="email"
                autofocus="autofocus"
                class="form-control"
                placeholder="Email address"
            ></b-form-input>
            <b-form-invalid-feedback id="input-email-live-feedback">{{ errors.first('input-email') }}</b-form-invalid-feedback>

            <b-form-input
                id="input-password"
                name="input-password"
                type="password"
                v-model="form.password"
                v-validate="{ required: true}"
                aria-describedby="input-password-live-feedback"
                data-vv-as="password"
                class="form-control"
                placeholder="Password"
            ></b-form-input>
            <b-form-invalid-feedback id="input-password-live-feedback">{{ errors.first('input-password') }}</b-form-invalid-feedback>
            <div class="mt-2">
                <button type="submit" class="btn btn-lg btn-primary btn-block1 form-control">Sign in</button>
            </div>

            <div class="mt-3 text-decoration-none"></div>

            <router-link to="/register">Register</router-link>

        </b-form>




    </div>
</template>




<script>
 export default {
  name: 'Login',
    data() {
        return {
            form: {
                email: null,
                password: null
            }
        };
    },
    methods: {
        // validateState(ref) {
        //     if (
        //         this.veeFields[ref] &&
        //         (this.veeFields[ref].dirty || this.veeFields[ref].validated)
        //     ) {
        //         return !this.errors.has(ref);
        //     }
        //     return null;
        // },
        resetForm() {
            this.form = {
                name: null,
                food: null
            };

            this.$nextTick(() => {
                this.$validator.reset();
            });
        },
        onSubmit() {
            this.$validator.validateAll().then(result => {
                if (!result) {
                    return;
                }

                this.$store.dispatch('LOGIN', this.form).then((logedin)=>{
                    this.$store.dispatch('SET_USER')
                    this.$router.push({ name: 'list' });
                })
                    .catch((errors) => {
                        if(typeof errors.data!='undefined' && typeof errors.data.errors!='undefined'){
                            for(let field in errors.data.errors)
                            {
                                this.errors.add({field:"input-"+field, msg: errors.data.errors[field][0]})
                            }

                            this.showAlert("Registration failed", "danger")
                        }
                    })

            });
        }
    }
}
</script>

<style scoped>
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    html, body {
        height: 100%;
    }
</style>
