<template>
    <div class="div-signin">
        <b-form @submit.stop.prevent="onSubmit" class="form-signin">

            <b-alert
                :show="dismissCountDown"
                dismissible
                :variant="variant"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
            >
                {{ message }}.
            </b-alert>


            <h1 class="h3 mb-3 font-weight-normal">Register</h1>

            <b-form-group id="input-name" label="Name" label-for="input-name">
                <b-form-input
                    id="input-name"
                    name="input-name"
                    v-model="form.name"
                    v-validate="{ required: true, min: 3, max:255 }"
                    :state="validateState('input-name')"
                    aria-describedby="input-name-live-feedback"
                    data-vv-as="Name"
                ></b-form-input>

                <div class="text-danger">{{ errors.first('input-name') }}</div>
            </b-form-group>

            <b-form-group id="input-email" label="Email" label-for="input-email">
                <b-form-input
                    id="input-email"
                    name="input-email"
                    type="email"
                    v-model="form.email"
                    v-validate="{ required: true, min: 3, max:255, email: true }"
                    :state="validateState('input-email')"
                    aria-describedby="input-email-live-feedback"
                    data-vv-as="email"
                ></b-form-input>

                <div class="text-danger">{{ errors.first('input-email') }}</div>
            </b-form-group>


            <b-form-group id="input-password" label="Password" label-for="input-password">
                <b-form-input
                    id="input-password"
                    name="input-password"
                    type="password"
                    v-model="form.password"
                    v-validate="{ required: true, min: 8, max:20}"
                    :state="validateState('input-password')"
                    aria-describedby="input-password-live-feedback"
                    data-vv-as="password"
                ></b-form-input>

                <div class="text-danger">{{ errors.first('input-password') }}</div>
            </b-form-group>


            <b-form-group id="input-password-confirm" label="Confirm Password" label-for="input-password-confirm">
                <b-form-input
                    id="input-password-confirm"
                    name="input-password-confirm"
                    type="password"
                    v-model="form.passwordConfirm"
                    v-validate="{ required: true, confirmed:form.password}"
                    :state="validateState('input-password-confirm')"
                    aria-describedby="input-password-confirm-live-feedback"
                    data-vv-as="password"
                ></b-form-input>

                <div class="text-danger">{{ errors.first('input-password-confirm') }}</div>
            </b-form-group>

            <b-form-group id="input-password-confirm" label="Profile Image" label-for="input-image">

                <b-form-group label="Small:" label-cols-sm="2" label-size="sm">
                    <b-form-file
                        id="input-image"
                        name="input-image"
                        v-model="form.image"
                        v-validate="{ required: true}"
                        :state="validateState('input-image')"
                        aria-describedby="input-image-live-feedback"
                        data-vv-as="image"
                        class="mt-3"
                        accept=".jpg, .png, .bmp"
                        @change="previewImage"
                    ></b-form-file>
                </b-form-group>
                <div class="text-danger">{{ errors.first('input-image') }}</div>


                <div v-if="form.image && previewUrl" class="flex-row preview">
                    <img :src="previewUrl" style="width: 200px" />
                    <div class="mt-3">Selected file: {{ form.image ? form.image.name : '' }}</div>
                </div>


            </b-form-group>

            <div class="mt-2">
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button class="ml-2" @click="resetForm()">Reset</b-button>
            </div>

            <div class="mt-3 text-decoration-none"></div>

            <router-link to="/login">Login</router-link>
        </b-form>
    </div>
</template>


<script>

    import { ErrorBag } from 'vee-validate';
    const bag = new ErrorBag();

    export default {
        name: "Register",
        data() {
            return {
                form: {
                    name: null,
                    email: null,
                    image: null,
                    password: null,
                    passwordConfirm: null
                },
                message: "",
                variant: "success",
                dismissSecs: 500,
                dismissCountDown: 0,
                previewUrl: null
            };
        },
        methods: {
            previewImage(e) {
                const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.previewUrl = e.target.result;
                };
            },
            validateState(ref) {
                if (
                    this.errors[ref] &&
                    (this.errors[ref].dirty || this.errors[ref].validated)
                ) {
                    return !this.veeErrors.has(ref);
                }
                return null;
            },
            resetForm() {
                this.form = {
                    name: null,
                    food: null
                };

                this.file = null;

                this.$nextTick(() => {
                    this.$validator.reset();
                });
            },
            onSubmit() {


                this.$validator.validateAll().then(result => {
                    if (!result) {
                        return;
                    }


                    let form_data = new FormData()
                    form_data.append('name', this.form.name)
                    form_data.append('email', this.form.email)
                    if(this.form.image && typeof this.form.image.name != 'undefined'){
                        form_data.append('image', this.form.image, this.form.image.name)
                    }
                    form_data.append('password', this.form.password)


                    this.$store.dispatch('REGISTER', form_data).then((logedin)=>{
                        this.resetForm();
                        this.showAlert("Registered successfully", "success")
                    })
                    .catch(errors => {
                        if(typeof errors.data!='undefinec' && typeof errors.data.errors!='undefinec'){
                            for(let field in errors.data.errors)
                            {
                                this.errors.add({field:"input-"+field, msg: errors.data.errors[field][0]})
                            }

                            this.showAlert("Registration failed", "danger")
                        }
                    })

                });
            },

            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert(message, variant) {
                this.message = message;
                this.variant = variant;
                this.dismissCountDown = this.dismissSecs
            }
        }
    };
</script>

<style scoped>
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    html, body {
        height: 100%;
    }

</style>
